@font-face {
  font-family: 'manifesto';
  src: url('../fonts/ChaletParisNineteenSixty.otf');
}
@font-face {
  font-family: 'manifesto-bold';
  src: url('../fonts/Chalet-New-York-Nineteen-Sixty.otf');
}

html {
	overflow-x: hidden;
	overflow-y: scroll;
}

* {
	font-family: 'Raleway', sans-serif;
}

.navbar {
	margin:0 !important;
	height: 80px !important;
	border: 1px solid #3498DB !important;
	background-color: #3498DB !important;
	border-radius: 0 !important;
}

#homer-logo{
	height: 70px;
}

.navbar-brand {
	display: inline-flex;
	padding: 5px 0px 5px 0px;
}

.navbar-brand > h1 {
	color: white;
	margin-top:13px;
}

.nav.navbar-nav > li > a {
	color:white;
}

.navbar-toggle  {
	background-color: white !important;
}
.navbar-toggle > .icon-bar {
	background-color: #E74C3C !important;
}

#user-info-modal {
	position:absolute;
	z-index: 11;
	top:10%;
	left:10%;
	right:10%;
	width:80%;
}
	.modal-body > .page-header {
		margin:10px 0px 10px 0px;
	}
	
	.input-group {
		margin:10px 0px 10px 0px;
	}

	#freq-loc-input-wrapper {
		overflow-y: auto;
		overflow-x: hidden;
	}

	.input-group-addon {
		background-color: #d9534f;
		color:white;
		cursor: pointer;
	}

#map { height: 100%; width: 100%; position: absolute; z-index: 10;}
#map-mobile { position: inherit !important; height: 600px;width: 100% !important;}

.well {
	background-color: white;
	margin-top: 15px;
	text-align: center;
}

#aptListings {
	cursor: pointer;
}

#active-selection, #active-bldg-selection-mobile {
	color:black;
}
#bldg-listings, #bldg-listings-mobile {
	color:black;
}
#listing-details, #listing-details-mobile {
	text-align: left;
	color: black;
}
	#listing-details > h4,
	#listing-details-mobile > h4 {
		text-align: center;
		color: black;
		font-weight: bold;
	}
	#listing-details > h4 > strong,
	#listing-details-mobile > h4 > strong {
		text-align: center;
		color: tomato;
	}

.gm-style-iw {
	max-width: 300px;
}

@media screen and (max-width: 600px) {
    #navbar {
        height: 60px !important;
        z-index: 99999;
    }

    #homer-logo{
		height: 50px;
	}

    .navbar-brand > h1 {
		margin-top:8px;
		font-size: 30px;
	}

    #user-info-modal {
    	top: inherit;
    	left: 0;
    	right: 0;
    	width: 100%;
    }

    .modal-dialog {
    	margin: 10px;
    }

    .mmodal-content {
    	border: 1px solid #999999;
	    border-radius: 6px;
	    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	    background-clip: padding-box;
    }
}